<a href="https://colab.research.google.com/github/WanatchapornS/Data-Preparation-Data-Mining/blob/main/Python_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Exercise

In [1]:
x = "Wanatchaporn"
print("My name is\t",x,"\n")

My name is	 Wanatchaporn

In [2]:
print("The answer is", 3*23)
print() # new line

print("Hello", end=". ")
print("\n") # new line

print("Hello", "World\n")

print("Hello", "World", sep="\t")

print(("Hi", "There"))  #tuper

The answer is 69

Hello.

Hello World

Hello	World
('Hi', 'There')

In [ ]:
#print ธรรมดากับปริ้น System Error คือมันเน้นให้เราเห็นได้ชัดมากกว่า

In [3]:
import sys
print("fatal error", file=sys.stderr)

fatal error

Print date and time:
https://www.w3schools.com/python/python_datetime.asp

In [20]:
import datetime
now = datetime.datetime.now()
now

datetime.datetime(2023, 6, 30, 2, 24, 36, 429692)

In [21]:
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S is %A, %B %d at %I.%M %p"))

Current date and time :
2023-06-30 02:24:36 is Friday, June 30 at 02.24 AM

In [25]:
# Fri, Jun 30, 2023
print (now.strftime(" %a, %b %d %Y "))

 Fri, Jun 30 2023

### <span style="color:red">**Print the following string in a specific format**</span>
Sample Output:
```
Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are
```

https://www.tutorialspoint.com/python/python_strings.htm
 เครื่องหมาย

In [42]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are!\t \
        \n\t\tUp above the world so high,\n\t\tLike a diamond in the sky.   \
        \nTwinkle, twinkle, little star,\n\tHow I wonder what you are")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [45]:
print("\\t")

\t

Write a Python program that calculates the area of a circle based on the radius entered by the user

Sample Output :
```
r = 1.1
Area = 3.8013271108436504
```

In [46]:
from math import pi
r = float(input("Input the radius of the circle : "))
print ("r =" + str(r) + "\nArea =" + str(pi * r**2))

Input the radius of the circle : 6
r =6.0
Area =113.09733552923255

### <span style="color:red">**Print first and last name in reverse order with a space between them**</span>
Sample Output:
```
Input your First Name : Pitchaya                                       
Input your Last Name : Wiratch                                        
Hello, Wiratch Pitchaya!  
```

In [62]:
F = input("Input your First Name :")
L = input("Input your Last Name :")
print("Hello, " , str(F), str(L) , "!" )

Input your First Name :Wanatchaporn
Input your Last Name :Sunipun
Hello,  Wanatchaporn Sunipun !

Write a Python program that accepts a sequence of comma-separated numbers from the user and generates a list and a tuple of those numbers
```
Sample data : 3, 5, 7, 23
Output :
List : ['3', ' 5', ' 7', ' 23']
Tuple : ('3', ' 5', ' 7', ' 23')
```
Hint: using `split()`

In [4]:
values = input("Input some comma seprated numbers : ")
mylist = values.split(",")
print(mylist)
mytuple = tuple(mylist)
print('List : ',mylist)
print('Tuple : ',mytuple)

Input some comma seprated numbers : dfg,
['dfg', '']
List :  ['dfg', '']
Tuple :  ('dfg', '')

### <span style="color:red">**Write a Python program that accepts a filename from the user and prints the extension of the file**</span>
```
Sample filename : abc.java
Output : java
```

In [6]:
filename = input("Write filename : ")
print("Output : ", filename.split(".")[-1])

Write filename : jo.pp
Output :  pp

### <span style="color:red">**Write a Python program to display the first and last colors from the following list**</span>

In [7]:
color_list = ["Red","Green","White" ,"Black"]

In [8]:
color_list

['Red', 'Green', 'White', 'Black']

In [9]:
print("Frist color is", color_list[0],"\nLast color is", color_list[-1])

Frist color is Red
Last color is Black

Write a Python program that prints the calendar for a given month and year
<p>Note : Use 'calendar' module.

In [70]:
import calendar
y = int(input("Input the year : "))
m = int(input("Input the month : "))
print(calendar.month(y, m))

Input the year : 2023
Input the month : 6
     June 2023
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

Write a Python program to calculate the number of days between two dates
`datetime.date(year, month, day)`

In [71]:
from datetime import date
f_date = date(2014, 7, 2)
l_date = date(2014, 7, 11)
delta = l_date - f_date
print(delta.days)

9

In [75]:
f_date

datetime.date(2014, 7, 2)

### <span style="color:red">**Write a Python program to calculate the difference between a given number and 17. If the number is greater than 17, return twice the absolute difference**</span>
```
def function_name(argument):
    ...

def function_name(argument1, argument2):
    summation = argument1 + argument2
    return(summation)
```

In [10]:
def computel(given_number) :
  if given_number > 17:
    result = abs(17-given_number)*2
  else:
    result = 17 - given_number
  return(result)

In [11]:
computel(21)

8

### <span style="color:red">**Get a string which is n (non-negative integer) copies of a given string**</span>

In [14]:
def genString(mystr,numcopies):

  return(mystr*numcopies)

In [15]:
"abc"*3

'abcabcabc'

In [16]:
mystr = "abc"
result = " "
for i in range(3):
    result = result + mystr
    print(result,i)
result

 abc 0
 abcabc 1
 abcabcabc 2

' abcabcabc'

In [17]:
def genString1(mystr,numcopies):
    return(mystr*numcopies)

def genString2(mystr,numcopies):
    result = ""
    for i in range(numcopies):
      result = result + mystr
    return(result)

In [18]:
print(genString1("abc",3), genString2("abc",3))

abcabcabc abcabcabc

### <span style="color:red">**Get a new string from a given string where 'Is' has been added to the front. If the given string already begins with 'Is' then return the string unchanged**</span>

In [91]:
mystr = "abc"
mystr[0:2]

'ab'

In [19]:
def fillingIs(mystr):
    if mystr[0:2] == "Is":
        result = mystr
    else:
        result = "Is" + mystr
    return(result)

In [20]:
fillingIs("abc")

'Isabc'

### <span style="color:red">**Check whether a specified value is contained in a group of values**</span>
i.e. `def is_group_member(group_data, n):` or any other way?
```
Test Data :
3 -> [1, 5, 8, 3] : True
-1 -> [1, 5, 8, 3] : False
```

In [21]:
def is_group_member(group_data, n):
  return(n in group_data)

def is_group_menber2(group_data, n):
  for element in group_data:
    print(element)
    if element == n:
      return (True)
  return (False)

In [22]:
is_group_menber2([1,5,8,3], 9)

1
5
8
3

False

In [103]:
n = -1
group_data =[1,5,8,3]
n in group_data

False

In [23]:
is_group_member([1, 5, 8, 3],9)

False

### <span style="color:red">**Write a Python program to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence**</span>
```
Sample numbers list :
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
           399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
           815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
           958,743, 527
          ]
```

In [24]:
#ปริ้นเฉพาะเลขคู่ หยุดที่237
def print_even(numberList):
    """ """
    for num in numberList:
        if num%2 == 0 : # check if even number
            print(num)
        if num == 237:
            break

In [ ]:
#or

In [25]:
print_even([1,2,3,4,237,6])

2
4

### <span style="color:red">**Add two objects if both objects are an integer type**</span>
```
def add_numbers(obj1, obj2):
    ...
```
Hint: try `isinstance(object, type)`

In [26]:
def def add_numbers(obj1, obj2):
    if isinstance(obj1, int) and isinstance(obj2, int):
        return(obj1 + obj2)
    else:
        return print"

SyntaxError: ignored

### <span style="color:red">**Concatenate `N` strings in a list**</span>
i.e. `list_of_colors = ['Red', 'White', 'Black']`

In [27]:
list_of_colors = ['Red', 'White', 'Black']
...

In [28]:
list_of_colors[0]+list_of_colors[1]+list_of_colors[2]

'RedWhiteBlack'

In [29]:
list_of_colors
for color in list_of_colors:
  print(color)

Red
White
Black

In [30]:
combined_colors=" "
for color in list_of_colors:
  combined_colors = combined_colors + color + " , "
  print(combined_colors)

 Red ,
 Red , White ,
 Red , White , Black ,

In [31]:
" ".join(list_of_colors)

'Red White Black'

Filter the positive numbers from a list
```
nums = [34, 1, 0, -23, 12, -88]
list(filter(lambda x: x >0, nums))
```

In [116]:
nums = [34, 1, 0, -23, 12, -88]
[i for i in filter(lambda x: x >0, nums)]

[34, 1, 12]

In [32]:
nums = [34, 1, 0, -23, 12, -88]
new_nums = [i if i>0 else -99 for i in nums ]
new_nums

[34, 1, -99, -99, 12, -99]

In [33]:
[i for i in nums if i>0]

[34, 1, 12]

In [34]:
newList = []
for i in nums:
    if i > 0 :
      newList.append(i)
    else:
      newList.append(-99)
newList

[34, 1, -99, -99, 12, -99]

### <span style="color:red">**Filter people whose the length of their name is greater than 5**</span>
```
people = ['Mark', 'Martin', 'Maepranom', 'Moon']
```

In [35]:
people = ['Mark', 'Martin', 'Maepranom', 'Moon']

In [36]:
filterredpeople = [person for person in people if len(person)>5]
filterredpeople

['Martin', 'Maepranom']

In [39]:
[df["nameColumn"][i] for i in range(len(df["nameColumn"]))
 if df["ageColumn"][i]>25]

NameError: ignored

In [40]:
len('Martin')

6

Input a number, if it is not an integer generates an error message

In [42]:
while True:
    try:
        a = int(input("Input a number: "))
        break
    except ValueError:
        print("\nThis is not an integer. Try again...")
        print()

Input a number: 123

In [43]:
mystr = "a"
while len(mystr) < 5 :
      print("1",len(mystr))
      mystr = mystr*2
      print("2",mystr)

1 1
2 aa
1 2
2 aaaa
1 4
2 aaaaaaaa